@import url("https://fonts.cdnfonts.com/css/dihjauti-2");
:root {
    --white: #ffffff;
    --yellow: #f4f4e2;
    --darkyellow: #dfdfab;
    --darkerdarkyellow: #caca74;
    --black: #181818;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Dihjauti", sans-serif;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    background: rgb(244, 244, 226);
    background: linear-gradient(0deg, rgba(244, 244, 226, 1) 0%, rgba(237, 237, 208, 1) 100%) no-repeat;
    background-size: cover;
    overflow-x: hidden;
    font-size: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

/* * Navbar */
.navbar {
    padding: 1% 10%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--black) 2px solid;
}

.navbar a {
    text-decoration: none;
}

.navbar-logo {
    font-size: 1.75rem;
    font-style: italic;
    white-space: nowrap;
    color: var(--black);
    /* text-shadow: 1px 1px white; */
}

.navbar-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-item {
    margin: 10px 20px;
    padding: 5px;
    position: relative;
}

.nav-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--darkyellow);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
    transform: scaleX(0);
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    color: var(--black);
    font-size: 1.25rem;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    margin: 5px auto;
    width: 25px;
    height: 2.5px;
    display: block;
    background-color: var(--black);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
/* End of Navbar */

/* * Main */
.main {
    margin: 2%;
    padding: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: var(--black) 2px solid;
}

.section-title {
    padding-top: 2%;
    font-size: 1.75rem;
    margin-bottom: 2%;
    font-style: italic;
}

/* .section-title:first-of-type {
    padding-top: 0;
} */

.section {
    margin: 0 10%;
    margin-bottom: 5%;
}

.fullname {
    font-size: 2.5rem;
}

.nickname-container {
    display: inline-block;
}

.nickname {
    font-size: 1.75rem;
    margin-bottom: 2%;
    font-style: italic;

    border-right: 1px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(18), cursor 0.4s step-end infinite alternate, remove-border 1s 2s forwards;
}

/*Typing Effect*/
@keyframes typing {
    from {
        width: 0;
    }
}

/*Cursor Blinking*/
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

/*Remove Vertical Bar*/
@keyframes remove-border {
    0% {
        border-right-color: black;
    }
    100% {
        border-right-color: transparent;
    }
}

.overview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.portrait-image {
    margin: 0 2%;
    width: 35%;
    height: auto;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.description {
    font-size: 1.5rem;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    margin-top: 0;
}

.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) {
    animation-delay: 0;
}
.container:nth-child(2) {
    animation-delay: 1s;
}
.container:nth-child(3) {
    animation-delay: 2s;
}
.container:nth-child(4) {
    animation-delay: 3s;
}
.container:nth-child(5) {
    animation-delay: 4s;
}

.text-box {
    padding: 4% 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    background: #fff;
    font-size: 15px;
}

.text-box h2 {
    font-size: 1.5rem;
}

.text-box small {
    display: inline-block;
    margin-bottom: 4%;
    font-style: italic;
}

.text-box p {
    margin-bottom: 3%;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.4;
}

.text-box img {
    width: 100%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 14.25px 28.5px, rgba(0, 0, 0, 0.22) 0px 11.25px 9px;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.container .icon {
    padding: 5px;
    position: absolute;
    width: 40px;
    background-color: white;
    border-radius: 4px;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container .icon {
    left: -20px;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}
/* End of Main */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 90%;
    }

    .portrait-image {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 80%;
    }

    .navbar {
        padding: 2% 10%;
    }

    .navbar-ul {
        position: absolute;
        top: 100%;
        left: -100%;
        gap: 0;
        flex-direction: column;
        background: rgb(244, 244, 226);
        background: linear-gradient(0deg, rgba(244, 244, 226, 1) 0%, rgba(237, 237, 208, 1) 0%) no-repeat;
        background-size: cover;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid var(--black);
    }

    .navbar-ul.active {
        left: 0;
    }

    .nav-item {
        margin: 12px 0;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .section {
        margin: 0 2%;
    }

    .overview {
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portrait-image {
        margin-bottom: 5%;
        width: 50%;
    }

    .timeline {
        margin: 50px auto;
    }
    .timeline::after {
        left: 30px;
    }
    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }
    .right-container {
        left: 0;
    }

    .left-container .icon,
    .right-container .icon {
        left: 10px;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}
